@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" asp-prerender-module="build/server/index">Loading...</div>

@section scripts {
    <script src="~/main-client.js" asp-append-version="true"></script>
}
