#react-app {
    display: flex;
    height: 100%;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #108ee9;
}

.logo {
    height: 32px;
    border-radius: 6px;
    margin: 16px;
    color: #fff;
    font-size: 20px;
    text-align: center
}

.ant-layout-sider-collapsed .anticon {
    font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
    display: none;
}